@charset "UTF-8";

/*todas as demais mídias*/
 
@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        width: 90vw;
        border: 2px solid black;
    }
    main::after{
        content: 'essa impressãofoi disponivel atravez de webert sales';
        text-decoration: overline;
    }
    main h1{
        text-shadow: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
    background-image: url(../imagens/back-tablet.jpg);
    }
    img#tl{display: none;}
    img#tab{display: block;}
    img#imp{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width:992px) and (max-width: 1200px) {

    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#tl{display: none;}
    img#tab{display: none;}
    img#imp{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    
}
@media screen and (min-width: 1200px) {

    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tl{display: none;}
    img#tab{display: none;}
    img#imp{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}