@charset "UTF-8";

/*configurações mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.737);
}

main{
    background-color: rgba(255, 255, 255, 0.848);
    width: 400px;
    margin-top: 20px;
    margin: auto;
    border-radius: 9px;
    padding: 10px;
}

img{
    display: block;
    margin: auto;
}

img#tl{display: block;}
img#tab{display: none;}
img#imp{display: none;}
img#pc{display: none;}
img#tv{display: none;}