@charset "UTF-8";

*{ 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(132, 75, 42, 0.559);
    width: 600px;
    padding: 10px;
    margin: auto;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
}

h1 {
    color: #d7830dbb;
    text-align: center;
    text-shadow: 1px 1px 2px #925806aa;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}